<html>
	<head>
		<title> Our Title</title>
		<link rel="stylesheet" type ="text/css" href="/css/application.css"></link>
	</head>
	<body>
		<section id = "header">
			<h1>SHORTEN. SHARE. MEASURE.</h1>
			<p>Join Bitly, the world's leading link management platform.</p>
		</section>
		<!-- It will load all the erb file in the same folder -->
		<%= yield %>
	</body>
</html>